@using Api.Dtos.Common;

<div class="col-md-12 col-lg-12 col-xl-12 col-12 col-sm-12">
    <table id="tblOperaciones" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>BODEGA</th>
                <th>ARTICULO</th>
                <th>CANTIDAD</th>
                <th>POSICION</th>
                <th>UNIDAD MEDIDA</th>
                <th>ACCION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
               
            </tr>
        </tbody>
    </table>
</div>