@using Api.Dtos;
@model Api.Dtos.User.LoginDto;

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en"
      class="light-style layout-wide customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/LibreriasExtras/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Formunica | Login</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/LibreriasExtras/img/Logo.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/LibreriasExtras/assets/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="~/LibreriasExtras/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/LibreriasExtras/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/LibreriasExtras/assets/css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/LibreriasExtras/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <!-- Page -->
    <link rel="stylesheet" href="~/LibreriasExtras/assets/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="~/LibreriasExtras/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/LibreriasExtras/assets/js/config.js"></script>
</head>

<body>

    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">

                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <div style=" text-align:center;">

                                    <img src="~/LibreriasExtras/img/Logo.png" style="width:40%;" />

                                </div>



                            </a>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Bienvenido a Layout! 👋</h4>
                        <p class="mb-4">Por favor ingresar sus credenciales</p>
                        <!--Formulario-->
                        <form asp-action="Login" asp-controller="Home" method="post">
                            <div class="mb-3">
                                <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
                                <label for="email" class="form-label">Usuario</label>
                                <input asp-for="strUsuario"
                                       type="text"
                                       class="form-control"
                                       placeholder="Ingrese su usuario"
                                       autofocus />
                                <span asp-validation-for="strUsuario" class="text-danger"></span>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Password</label>

                                </div>
                                <div class="input-group input-group-merge">
                                    <input asp-for="strPassword"
                                           type="password"
                                           class="form-control"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password" />

                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>

                                </div>
                                <span asp-validation-for="strPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">

                                    <label style="text-align:center;" class="form-check-label" for="remember-me"> Cualquier inconeviente comunicarse con informatica </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button style="background-color:forestgreen; color:white;" class="btn d-grid w-100" type="submit">Inicio de sesión</button>
                            </div>
                        </form>
                        <!--Formulario-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/LibreriasExtras/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/LibreriasExtras/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/LibreriasExtras/assets/vendor/js/bootstrap.js"></script>
    <script src="~/LibreriasExtras/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/LibreriasExtras/assets/vendor/js/menu.js"></script>
    <script src="~/LibreriasExtras/assets/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        function mostrarAlertaError(mensaje) {

            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: mensaje
            });
        }

        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('success')) {

                mostrarAlertaError('verificar el Inicio de sesion');
                history.replaceState(null, null, window.location.pathname);
            }

        });

    </script>

</body>
</html>